/*
Author : Andy D'ABADIE DE LURBE
Theme : Portfolio
*/

/* Palette de couleurs */
/*:root {
  --background-color: #3b4c8d;
  --secondary-color: #8aa1f6;
  --tertiary-color: #111536;
}*/
:root {
  --background-color: 59, 76, 141;
  --secondary-color: 138, 161, 246;
  --tertiary-color: 17, 21, 54;
}

/* index.html */
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0;
  background-image: url(images/background/indexBackground.svg);
  background-size: cover;
  padding-bottom: 80px;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* En-tête */
header {
  font-family: "Funnel Display", sans-serif;
  height: 62px;
  background-image: url(images/background/headerIndexBackground.svg);
  background-size: cover;
  padding-inline: 3%;
  display: flex;
  align-items: center;
  box-shadow: black 3px 3px 20px 0px;
  color: white;
  justify-content: space-between;
  box-sizing: border-box;
}

header a {
  transition-duration: 0.8s;
}

header a:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

.logo {
  gap: 20px;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: fit-content;
  border: solid rgb(var(--tertiary-color)) 3px;
  border-radius: 100%;
}

nav {
  font-size: 16px;
}

ul {
  gap: 20px;
}

ol {
  flex-direction: column;
  font-weight: 100;
  font-size: 14px;
  gap: 40px;
}

.cv-circle {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  border: solid rgb(var(--tertiary-color)) 2px;
  text-align: center;
}

.cv-circle:hover {
  background-color: rgb(var(--tertiary-color));
}

/* Corps */
section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  text-align: center;
  flex-grow: 1;
  align-items: center;
}

article {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  align-items: center;
}

.bubble {
  box-shadow: black 3px 3px 20px 0px;
  background-color: rgb(var(--background-color), 0.5);
  background-size: cover;
  border-radius: 5em;
  transition-duration: 0.4s;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3em;
  justify-content: center;
}

.bubble h2 {
  transition: transform 0.4s;
}

.bubble header {
  padding: 0;
  background-image: none;
  box-shadow: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bubble section {
  padding: 0;
  width: 100%;
  align-items: center;
}

.bubble p,
.bubble td {
  font-weight: 100;
  align-self: center;
}

.bubble h2:hover {
  transform: scale(1.1);
}

.bubble:hover {
  transform: scale(1.1);
}

.squared-bubble {
  height: 315px;
  width: 315px;
}

.rectangular-bubble {
  height: 315px;
  width: 660px;
}

/* Bulle du profil */
#profile-card {
  align-items: center;
  gap: 5%;
}

.image-container {
  position: relative;
  width: 160px;
  height: 160px;
}

.image-container img {
  transition: opacity 0.8s ease;
}

#profile-card:hover .image-container img {
  opacity: 0;
}

.image-container::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/sticker/sticker-2.png);
  background-size: cover;
  opacity: 0;
  transition: opacity 0.8s ease;
}

#profile-card:hover .image-container::after {
  opacity: 1;
}

/* Bulle du à propos */
#about-card {
  gap: 1em;
  background-image: url("images/background/aboutBackground.svg");
  font-size: 14px;
}

.read-more {
  text-decoration: underline;
  transition: transform 0.4s;
}

.language-section {
  gap: 10px;
}

.language {
  display: inline-flex;
  gap: 1em;
  padding-inline: 2em;
  box-sizing: border-box;
}

.language-circle {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.read-more:hover {
  transform: scale(1.1);
}

/* Bulle de compétences */
#skills-card {
  background-image: url("images/background/article2Background.svg");
  background-position: left top;
}

#skills-card table {
  border-spacing: 1em;
}

#skills-card td:not(:empty) {
  position: relative;
  background-color: rgb(var(--secondary-color));
  border-radius: 1em;
  backface-visibility: hidden;
  text-align: center;
  transition: transform 0.8s;
}

#skills-card td:not(:empty):hover {
  transform: rotateY(180deg);
}

#skills-card td:not(:empty)::after {
  content: attr(data-percentage);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  transition: opacity 0.8s ease;
  font-weight: bold;
}

#skills-card td:not(:empty):hover::after {
  opacity: 1;
}

/* Bulle d'expériences */
#experiences-card {
  background-image: url("images/background/article2Background.svg");
  background-position: right top;
  gap: 20px;
}

#vertical-scroll-bar {
  background-attachment: local;
  background-image: url("images/background/verticalScrollBackground.svg");
  background-repeat: no-repeat;
  box-shadow: none;
  transform: none;
  border-radius: 0;
  overflow: auto;
  padding-inline: 155px;
  padding-top: 2%;
  padding-top: 6%;
  height: 128px;
}

#vertical-scroll-bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.down-arrow {
  position: absolute;
  animation: bounce 2s infinite;
  right: 60px;
  top: 10%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Position de départ */
  }
  50% {
    transform: translateY(-30px); /* Position du rebond (10px vers le haut) */
  }
}

.center-line {
  position: relative;
  background-color: rgb(var(--tertiary-color));
}

.node {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(var(--tertiary-color));
  border-radius: 50%;
  border: 4px solid white;
}

.node:hover {
  background-color: rgb(var(--secondary-color));
}

.node:hover .description {
  opacity: 1;
  visibility: visible;
}

.center-line.vertical {
  width: 4px;
  height: 980px;
}

.node.vertical {
  left: 50%;
  transform: translateX(-50%);
}

.description {
  box-sizing: border-box;
  background-color: rgb(var(--secondary-color));
  border-radius: 1em;
  padding: 10px;
  box-shadow: black -1px -1px 7px 0px;
  width: 105px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-size: 12px;
  font-weight: 300;
}

.vertical-theme {
  position: absolute;
  left: 30px;
}

.vertical-date {
  position: absolute;
  right: 30px;
}

.description p {
  font-weight: 600;
}

.vertical-node:hover .description {
  opacity: 1;
  visibility: visible;
}

/* Bulle de veille */
#veille-card {
  background-image: url("images/background/article3Background.svg");
  background-position: left top;
  justify-content: space-evenly;
}

#veille-card span {
  font-weight: 100;
}

/* Bulle des projets */
#projets-card {
  background-image: url("images/background/article3Background.svg");
  background-position: right top;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  gap: 1em;
  transition: transform 0.4s;
}

.project:hover {
  transform: scale(1.2);
}

.project-section {
  flex-direction: row;
  justify-content: center;
}

.project-section-page {
  justify-content: center;
}

/* Pages */
.page:hover {
  transform: none;
}

/* Page à propos */
#about-card-page {
  width: 80%;
  height: 460px;
  background-image: url("images/background/aboutBackground.svg");
  background-size: cover;
}

.caption {
  display: inline-flex;
}

.side-images-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.images-caption {
  width: 80px;
}

.amazeing {
  width: 80px;
}

/* Page d'expérience */
#experiences-card-page {
  width: 65%;
  height: 460px;
  background-image: url("images/background/article2Background.svg");
  background-position: right top;
  background-size: cover;
  border-radius: 300px;
}

#horizontal-scroll-bar {
  background-attachment: local;
  background-image: url("images/background/horizontalScrollBackground.svg");
  background-repeat: no-repeat;
  box-shadow: none;
  transform: none;
  border-radius: 0;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 90%;
  padding-block: 0;
}

#horizontal-scroll-bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.center-line.horizontal {
  top: 50%;
  left: 30%;
  width: 2000px;
  height: 4px;
}

.node.horizontal {
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-node:hover .description {
  opacity: 1;
  visibility: visible;
}

.horizontal-theme {
  position: absolute;
  top: 30px;
  width: 120px;
}

.horizontal-date {
  position: absolute;
  bottom: 30px;
}

.horizontal-explanation {
  position: absolute;
  width: 460px;
  bottom: 30px;
  left: 145px;
}

/* Page de veille */
#veille-card-body {
  background-image: url(images/background/veilleBackground.svg);
}

#veille-card-body hr {
  width: 400px;
  margin: 15px;
}

.framed-bubble {
  font-family: "Outfit", sans-serif;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-image: url(images/background/article2Background.svg);
  background-position: left top;
  background-size: cover;
  gap: 20px;
}

.decoration-bubble {
  visibility: hidden;
}

/* Page des projets */
.projects-card-page {
  width: 250px;
  height: 250px;
}

#projects-card-body {
  background-image: url(images/background/projectsBackground.svg);
}

#projects-card-body hr {
  width: 800px;
  margin-block: 150px;
  background-color: rgb(var(--tertiary-color));
  border: none;
  height: 2px;
}

#projects-card-body li {
  font-weight: 300;
}

.code-window {
  background-color: #1e1e1e;
  color: #dcdcdc;
  padding: 20px;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Page de contact*/
#contact-card-body {
  overflow-y: hidden;
}

.message-container {
  position: relative;
  width: 100%;
}

.message-box {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
  font-family: "Funnel Display";
  border: none;
  border-radius: 50px;
}

#objet {
  padding: 20px;
}
#message {
  height: 180px;
  padding: 30px;
}

#send-button {
  transition: transform 0.5s ease;
  position: absolute;
  bottom: 30px;
  right: 27px;
}

#send-button:hover {
  transform: scale(1.1);
}

#send-button:active {
  transform: scale(0.9);
}
footer {
  display: inline-flex;
  gap: 20px;
}

.footer-logo {
  transition: transform 0.5s ease;
}

.footer-logo:hover {
  transform: scale(1.4);
}

#success-message {
  visibility: hidden;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Page de CV */
.retour {
  display: inline-flex;
  gap: 20px;
}
.retour button {
  padding-block: 10px;
  padding-inline: 20px;
  border: solid rgb(var(--tertiary-color)) 2px;
  border-radius: 50px;
  gap: 2px;
}

.retour a:hover {
  transform: none;
}

.retour button:hover {
  background-color: rgb(var(--tertiary-color));
}

.material-symbols-outlined {
  height: 20px !important;
}
