a {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inherit;
}

ol {
  margin: 0;
  padding: 0;
  display: inherit;
}

nav {
  display: inherit;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

hr {
  display: flex;
}
